.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eef0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100vh;
}